#header{
    display: flex;
    width: 100%;
    justify-content: space-between
}

#wrapper{
    min-height: 100%;
    position: relative;
}

#sidebar-left{
    position: fixed;
    left: 0;
    top: 87px;
    bottom: 0;
    width: 300px;
    overflow: auto;
}

#sidebar-content{
    flex-direction: column;
    height: 100%;
    width: 100%;
    border-right: 1px solid silver;
    background: #fff;
}

.wrapper-content{
    min-height: calc(100vh - 87px - 60px);
    margin-left: 300px;
    margin-top: 87px;
    margin-bottom: 60px;
    padding: 1rem;
    padding-bottom: 1.5rem;
    /*overflow: hidden;*/
    background-color: #f3f3f3;
}

.nav-item{
    min-width: 100%;
    width: 100%;
    padding-left: 15px;
    font-weight: 500;
}
.navbar{
    min-width: 300px;
    border-bottom: 1px solid silver;
}

.navbar-brand{
    margin-right: 0px;
    width: auto;
}

.nav-link{
    padding: 0.5em;
}

.item-active{
    background: #1F9BCF;
}

.item-active .nav-link{
    color: white !important;
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #fff;
    margin-left: 300px;
    text-align: center;
}

.equal > [class*='col-'] .card {
    height: 100%;
}


@media(max-width: 992px){
    
    #sidebar-content{
        height: auto;
        padding-bottom: 20px;
        padding-top: 20px;
        border-right: none;
    }

    #sidebar-left{
        width: 100%;
    }

    .wrapper-content{
        margin-left: 0px;
        padding: 7px;
    }

    .footer{
        margin-left: 0;
    }
    

    .navbar-nav .nav-link{
        padding-left: 10px;
    }

}

@media(max-width: 600px){
    .table {
        border: 0;
    }
      
      .table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
      }
      
      .table tr {
        border-bottom: 15px solid #f3f3f3;
        display: block;
      }
      
      .table td {
        border-bottom: 1px solid #f3f3f3;
        display: block;
        font-size: .8em;
        text-align: right;
        min-height: 50px;
      }
      
      .table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
      }
      
      .table td:last-child {
        border-bottom: 0;
      }

      .btn-action {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 25px;
      }

      .btn-action a {
        margin-bottom: 5px;
        width: 95px;
      }
}